@charset "euc-kr";
@import url('style2.css');
@import url('style3.css');
/* CSS Document */

/********************************************************************************************
Base
*********************************************************************************************/
*{padding:0;margin:0;}
body{-webkit-user-select:none;-webkit-text-size-adjust:none; overflow:hidden; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,'굴림',Gulim,Helvetica,AppleGothic,sans-serif}
body{font-size:0.875em;line-height:1.25em;color:#000;word-wrap:break-word;word-break:break-all;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,pre{margin:0;padding:0;-webkit-text-size-adjust:none}
section,nav,article,aside,hgroup,header,footer{display:block}
h1,h2,h3,h4,h5,h6,p{font-size:1em;line-height:1em;}
input,textarea,select,button,table{font-size:inherit;font-family:inherit;line-height:inherit;color:#000}
table{border-collapse:collapse; width:100%; table-layout:fixed; font-size:0.75em}
caption{visibility:hidden;overflow:hidden;left:-1000em;width:0;height:0;font-size:0;line-height:0}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none; color:#000;}
a:link,a:hover,a:active{text-decoration:none;}
hr{display:none !important}
button {border:none; background:none; cursor:pointer; color:#333333;}
.skip{visibility:hidden;overflow:hidden;position:absolute;left:-1000em;width:0;height:0;font-size:0;line-height:0}

/********************************************************************************************
Layout Style
********************************************************************************************/
/* body */
body{background:url('../img/bg.png');}

/* header */
#header{
	position:relative;
	width:100%; height:38px;
	background:url('../img/bg_logo_main.png');
}

/* subHeader */
#subHeader{
	position:relative; 
	width:100%;
}

/* contents */
#contents{
	position:absolute;
	width:100%;
}
#contents>div{width:100%;}
.ct_pos_1{top:113px; left:0; bottom:0;}
.ct_pos_2{top:237px; left:0; bottom:0;}
.ct_pos_201{top:237px; left:0; bottom:42px;}
.ct_pos_202{top:237px; left:0; bottom:78px;}
.ct_pos_3{top:253px; left:0; bottom:0;}
.ct_pos_4{top:325px; left:0; bottom:0;}
.ct_pos_5{top:341px; left:0; bottom:0;}
.ct_pos_6{top:129px; left:0; bottom:0;}
.ct_pos_601{top:129px; left:0; bottom:42px;}
.ct_pos_602{top:129px; left:0; bottom:78px;}
.ct_pos_7{top:176px; left:0; bottom:0;}
.ct_pos_702{top:176px; left:0; bottom:78px;}
.ct_pos_8{top:237px; left:0; bottom:0;}
.ct_pos_9{top:301px; left:0; bottom:0;}
.ct_pos_901{top:301px; left:0; bottom:42px;}
.ct_pos_10{top:329px; left:0; bottom:0;}
.ct_pos_101{top:329px; left:0; bottom:42px;}
.ct_pos_102{top:329px; left:0; bottom:78px;}
.ct_pos_11{top:347px; left:0; bottom:0;}
.ct_pos_111{top:347px; left:0; bottom:42px;}
.ct_pos_12{top:409px; left:0; bottom:0;}
.ct_pos_121{top:409px; left:0; bottom:42px;}
.ct_pos_13{top:115px; left:0; bottom:0;}
.ct_pos_132{top:115px; left:0; bottom:78px;}
.ct_pos_14{top:203px; left:0; bottom:0;}
.ct_pos_15{top:188px; left:0; bottom:0;}
.ct_pos_151{top:188px; left:0; bottom:42px;}
.ct_pos_16{top:248px; left:0; bottom:0;}
.ct_pos_17{top:292px; left:0; bottom:0;}
.ct_pos_171{top:292px; left:0; bottom:42px;}
.ct_pos_18{top:354px; left:0; bottom:0;}
.ct_pos_181{top:354px; left:0; bottom:42px;}
.ct_pos_19{top:280px; left:0; bottom:0;}
.ct_pos_20{top:309px; left:0; bottom:0;}
.ct_pos_21{top:279px; left:0; bottom:0;}
.ct_pos_22{top:52px; left:0; bottom:0;}
.ct_pos_23{top:145px; left:0; bottom:0;}
.ct_pos_24{top:221px; left:0; bottom:0;}
.ct_pos_242{top:221px; left:0; bottom:78px;}
.ct_pos_251{top:393px; left:0; bottom:42px;}
.ct_pos_261{top:283px; left:0; bottom:42px;}
.ct_pos_262{top:283px; left:0; bottom:78px;}
.ct_pos_27{top:234px; left:0; bottom:0;}
.ct_pos_272{top:234px; left:0; bottom:78px;}
.ct_pos_28{top:340px; left:0; bottom:0;}
.ct_pos_292{top:464px; left:0; bottom:78px;}
.ct_pos_302{top:401px; left:0; bottom:78px;}
.ct_pos_312{top:254px; left:0; bottom:78px;}
.ct_pos_322{top:250px; left:0; bottom:78px;}
.ct_pos_332{top:222px; left:0; bottom:78px;}
.ct_pos_34{top:268px; left:0; bottom:0;}
.ct_pos_342{top:268px; left:0; bottom:78px;}
.ct_pos_35{top:217px; left:0; bottom:0;}
.ct_pos_352{top:217px; left:0; bottom:78px;}
.ct_pos_36{top:385px; left:0; bottom:0;}
.ct_pos_372{top:144px; left:0; bottom:78px;}
.ct_pos_38{top:213px; left:0; bottom:0;}
.ct_pos_39{top:251px; left:0; bottom:0;}
.ct_pos_402{top:205px; left:0; bottom:78px;}
.ct_pos_412{top:191px; left:0; bottom:78px;}
.ct_pos_422{top:52px; left:0; bottom:78px;}
.ct_pos_43{top:259px; left:0; bottom:0;}
.ct_pos_44{top:295px; left:0; bottom:0;}
.ct_pos_45{top:237px; left:0; bottom:0;}
.ct_pos_462{top:284px; left:0; bottom:78px;}

/* lastInfo */
#lastInfo{
	position:absolute;
	bottom:0; left:0;
	width:100%; height:41px;
}

/********************************************************************************************
Common Style
********************************************************************************************/
/* header header */
#header h1 span, .hicar{
	display:block;
	width:176px; height:26px;
	background:url('../img/logo_hicar.png') no-repeat;
	position:absolute;
	top:7px; left:8px;
	text-indent:-999em;
}
#header h2, .hims{
	display:block;
	width:73px; height:19px;
	background:url('../img/logo_hims.png') no-repeat;
	position:absolute;
	top:15px; right:15px;
	text-indent:-999em;
}
/* header subHeader */
#subHeader h1{
	height:22px;
	padding:14px 0;
	/*line-height:50px;*/
	background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #c4e1f7), color-stop(0.5, #95c0e8), color-stop(0.5, #81b3e3), color-stop(1, #6e9ed5));
	border-top:1px solid #e2f1fb;
	border-bottom:1px solid #092a4d;
	font-size:1.714em;
	color:#031532;
	padding-left:74px;
	text-shadow:0 1px #c2d9f0;
}
#subHeader h1.fontSmall{font-size:20px;}
#subHeader h1.stats{font-size:22px;}
#subHeader a.myMenu{
	position:absolute;
	top:0px; left:0;
	display:block;
	width:57px; height:52px;
	background:url('../img/btn_mymenu.png') no-repeat;
	text-indent:-999em;
}
#subHeader a.myMenu.on{
	background-position:-59px 0;
}
#subHeader button.refresh{
	position:absolute;
	top:4px; right:4px;
	width:98px; height:42px; line-height:42px;
	background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d0e4f7), color-stop(0.5, #98bfe7), color-stop(0.5, #88b4e3), color-stop(1, #5b93d3));
	border:1px solid #3b6b9d;
	-webkit-border-radius:5px;
	-webkit-box-shadow:1px 1px 1px #4b6b8f, inset 0 0 1px #edf4fc;
	font-size:18px;
	font-weight:bold;
	color:#25447f;
	text-align:left;
}
#subHeader button.refresh.on{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#5a92d2), to(#a8cdef));
	-webkit-box-shadow:1px 1px 1px #4b6b8f, inset 0 0 1px #a9cceb;	
}
#subHeader button.refresh span.img{
	display:inline-block;
	width:21px; height:24px;
	margin:8px 0 0 9px;
	padding-right:3px;
	background:url('../img/icon_refresh.png') no-repeat;
	vertical-align:top;
}

/* header h2 */
h2.userInfo.bgSub{
	padding-bottom:5px;
	background-position:0 100%;
}
h2.userInfo{
	display:table;
	width:100%; height:58px;
	color:#5bb0ff;
	font-size:1.571em;
}
h2.userInfo span{
	height:58px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background:#2b3840;
	-webkit-box-shadow:inset 0 8px 8px -8px #1e272c, inset 0 -8px 8px -8px #1e272c; 
}
h2.userInfo span a{
	display:block;
	line-height:57px;
	color:#5bb0ff;
}
h2.userInfo.bizNum span{-webkit-box-shadow:inset 0 -8px 8px -8px #1e272c;}
h2.userInfo span:last-of-type, h2.userInfo.tow span.type{
	background:#444e55; 
	color:#ffae00;
}
h2.userInfo span.number, h2.userInfo span.type, 
h2.userInfo.tow span.type:first-of-type{width:176px;}
h2.userInfo.tow span.type{width:120px;}
h2.userInfo.number span.type{width:140px;}
/* header h3 */
h3.menuTit{
	line-height:75px;
	background-position:0 100%;
	-webkit-box-shadow:inset 0 8px 6px -6px #3c4042;
	font-size:2.357em;
	color:#fff;
	text-shadow:1px 1px #343738;
}
h3.menuTit span.iconMenu{
	float:left;
	width:82px; height:70px;
	background-image:url('../img/icon_menu.png');
}
h3.menuTit span.iconMenu.board{background-position:0 0;}
h3.menuTit span.iconMenu.dividend{background-position:-82px 0;}
h3.menuTit span.iconMenu.input{background-position:-164px 0;}
h3.menuTit span.iconMenu.change{background-position:-246px 0;}
h3.menuTit span.iconMenu.reward{background-position:0 -70px;}
h3.menuTit span.iconMenu.sign{background-position:-82px -70px;}
h3.menuTit span.iconMenu.survey{background-position:-164px -70px;}
h3.menuTit span.iconMenu.work{background-position:-246px -70px;}
h3.menuTit span.iconMenu.output{background-position:0 -140px;}
h3.menuTit span.iconMenu.staff{background-position:-82px -140px;}
h3.menuTit span.iconMenu.doc{background-position:-164px -140px;}
h3.menuTit span.iconMenu.send{background-position:-246px -140px;}
h3.menuTit span.iconMenu.stats{background-position:0 -210px;}
h3.menuTit span.iconMenu.media{background-position:-82px -210px;}
h3.menuTit span.iconMenu.qr{background-position:-164px -210px;}
h3.menuTit span.iconMenu.fault{background-position:-246px -210px;}

/* header form */
/* select 수정전 css */
select, textarea{
	width:100%;
	-webkit-appearance:none;
	font-size:24px;
	vertical-align:middle;
}
select.formBg{
	line-height:56px;
	padding-left:10px;
	background:white url('../img/bg_select.png') no-repeat 100% 0;	
}
.inputWrap.select{padding:0;}
/*.searchForm .sf_iptBtn_2 .inputWrap.select.contract{width:220px;}*/
.formList select, .formList input, .formList textarea{font-size:22px;}
input[type="text"], input[type="number"], 
input[type="date"], input[type="time"], input[type="password"],
input[type="text"].date, textarea{
	width:100%;
	-webkit-appearance:none;
	font-size:24px;
	vertical-align:middle;
}
input[type="date"], input[type="time"], input[type="text"].date{text-align:center;}
input[type="text"].date{font-size:22px;}
input[type="number"].money{text-align:right;}
input[type="number"].money2 {text-align:center;}
input[type="radio"], input[type="checkbox"]{
	display:inline-block;
	width:42px;	height:42px;
	vertical-align:middle;
	background:url(../img/btn_radio.png) no-repeat 0 0;
	-webkit-appearance:none;
}
input[type="radio"].on{background-position:0 -42px;}
input[type="checkbox"]{background-position:0 -84px;}
input[type="checkbox"].on{background-position:0 -126px;}
input[type="checkbox"]{
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-21px;
}
.formBg.select{
	line-height:58px;
	padding:0 15px;
	background:white url('../img/bg_select.png') no-repeat 100% 50%;
	vertical-align:middle;
	font-size:24px;
}
.formBg.ex{color:#666;}
.formBg{
	background:white;
	border:1px solid #2d2d2d;
	-webkit-border-radius:8px;
	-webkit-box-shadow:inset 0 0 5px #8c8c8c;
}
.formBg.disable{
	background:#e5e5e5;
	-webkit-box-shadow:none;
	border:1px solid #999;
}
.formBg.disable input{background:#e5e5e5;}
.searchForm{
	position:relative;
}
.searchForm.bgSub:first-of-type{
	padding:14px 0 13px 10px;
	background-position:0 0;
	border-bottom:1px solid #2d2d2d;
}
.searchForm.bgSub.all .inputWrap.select:first-of-type{width:35%;}
.searchForm.bgSub:nth-of-type(2), .searchForm.bgSub.subFirmCommon:first-of-type{
	padding:13px 0 13px 10px;
	background-position:0 10%;
	border-top:1px solid #86898a;
	border-bottom:1px solid #2d2d2d;
}
.searchForm.bgSub.common:only-of-type{
	padding:13px 0 13px 10px;
	background-position:0 -2px;
}
.searchForm.bgSub:last-of-type, .searchForm.bgSub.subFirmCommon:only-of-type,
.searchForm.bgSub.all{
	padding:14px 0 18px 10px;
	background-position:0 100%;
	border-top:1px solid #86898a;
	border-bottom:0;
}
.searchForm.bgSub:only-of-type{
	padding:14px 105px 19px 10px;
	background-position:0 0;
	border:0;
}
.searchForm.bgSub.subFirm{
	padding:14px 105px 13px 10px;
	border-bottom:1px solid #262a2d;
}
.searchForm.bgSub.board{
	padding:14px 0 19px 10px;
}
.searchForm.bgSub.one{padding-right:10px !important;}
.searchForm .sf_iptBtn_2.stats{padding-right:81px;}
.searchForm .sf_iptBtn_2.stats .inputWrap:first-of-type{width:150px;}
.inputWrap{
	display:block;
	padding:15px;
}
.inputWrap input, .inputWrap textarea{
	line-height:1.2em;
	border:0;
	-webkit-border-radius:0;
}
.searchForm.bgSub.common:only-of-type .btnSearch{top:13px}
.searchForm .btnSearch{
	position:absolute;
	top:14px; right:10px;
	width:85px; height:60px;
	font-size:1.857em;
	color:#032f61;	
	text-shadow:0 1px #c2d9f0;
}
.searchForm .btnSearch.disable{
	background:#e5e5e5;
	border:1px solid #999;
	color:#545454;
	text-shadow:none;
	-webkit-box-shadow:none;
}
.searchForm .sf_ipt{padding-right:10px;}
.searchForm .sf_ipt.dividend{padding-right:0;}
.searchForm .sf_iptBtn_1, .searchForm .sf_iptBtn_2, .searchForm .sf_iptBtn_3{padding-right:105px;}
.searchForm.search .sf_iptBtn_2{padding-right:75px;}
.searchForm.search .sf_iptBtn_2 .inputWrap:last-of-type{margin-left:0;}
.searchForm .sf_ipt,
.searchForm .sf_iptBtn_1, .searchForm .sf_iptBtn_2, .searchForm .sf_iptBtn_3{
	display:table;
	width:100%;
}
.searchForm .sf_ipt .inputWrap, .searchForm label,
.searchForm .sf_iptBtn_1 .inputWrap, .searchForm .sf_iptBtn_2 .inputWrap, .searchForm .sf_iptBtn_3 .inputWrap{
	display:table-cell;
}
.searchForm .sf_ipt.stats .inputWrap{width:auto;}
.searchForm .sf_ipt .inputWrap, .searchForm .sf_iptBtn_2 .inputWrap{width:50%;}
.searchForm .sf_ipt .victim{width:210px;}
.searchForm .sf_iptBtn_2 .contract{width:180px;}
.searchForm .sf_iptBtn_2 .virtual{width:130px;}
.searchForm .sf_ipt .subFirm{width:145px;}
.searchForm .sf_ipt.income .inputWrap:first-of-type{width:85px;}
.searchForm .sf_ipt.income label:last-of-type{padding-left:10px;}
.searchForm .sf_ipt.dividend .inputWrap{width:auto;}
.searchForm .sf_iptBtn_1.used .select:first-of-type{width:100px;}
.searchForm .sf_iptBtn_1.used .select:last-of-type{display:block; margin-left:10px;}
.searchForm .sf_ipt .inputWrap:last-of-type,
.searchForm .sf_iptBtn_2 .inputWrap:last-of-type{	
	display:block;
	width:auto;
	margin-left:10px;
}
.searchForm .sf_ipt.income .inputWrap:last-of-type,
.searchForm .sf_ipt.carName .inputWrap:last-of-type,
.searchForm .sf_ipt.carName2 .inputWrap:last-of-type,
.searchForm .sf_ipt.board .inputWrap:last-of-type,
.searchForm .sf_ipt.subFirm .inputWrap:last-of-type{
	margin-left:0;
}
.searchForm .sf_iptBtn_3 .inputWrap:nth-of-type(1){width:40px;}
.searchForm .sf_iptBtn_3 .inputWrap:nth-of-type(2){
	display:inline-block;
	width:58px;
	margin:0 10px;
}
.searchForm .sf_iptBtn_3 .inputWrap:nth-of-type(1) input{text-align:center;}
.searchForm label{
	line-height:1.1em;
	font-size:1.714em;
	color:#fff; 
	vertical-align:middle;
	text-align:right;
	padding-right:10px;
}
.searchForm .board label, .searchForm .stats label{width:55px;}
.searchForm .income label, .searchForm.search label{width:75px;}
.searchForm .dividend label{width:100px;}
.searchForm .carName label{width:120px;}
.searchForm .carName2 label{width:110px;}
.searchForm .employee .inputWrap:first-of-type{
	display:block; 
	margin-right:10px; 
	padding:15px 10px; 
	width:185px; 
	max-height:58px; 
	font-size:24px; 
	line-height:1.2em;
}
.searchForm .employee .inputWrap:last-of-type{
	display:table-cell; 
	vertical-align:middle; 
	padding:0 10px; 
	width:100%; 
	max-height:58px; 
	font-size:24px; 
	line-height:1.2em;
}

/* header nav */
.subTab.bgSub{
	padding:9px 9px 15px 9px;
	background-color:transparent;
	background-position:0 100%;
	border:0;
	-webkit-box-shadow:inset 0 8px 6px -6px #3c4042;
}
.subTab.bgSub.mobilize{
	padding:9px 9px 15px 9px;
	border-top:1px solid #66696a;
	-webkit-box-shadow:none;
}
.subTab.bgSub.mobilizeSub{
	padding:9px;
	background-position:0 50%;
	border-top:1px solid #66696a;
	-webkit-box-shadow:none;
}
.subTab.bgSub.tow, .subTab.bgSub.statsTab{
	padding:9px;
	background-position:0 0;
	border-bottom:1px solid #2d2d2d;
}
.subTab.bgSub.pop{
	padding-bottom:15px;
	background-position:0 100%;
	border-bottom:0;
}
.searchForm.bgSub.tow{
	padding:14px 105px 18px 10px;
	background-position:0 100%;
	border-top:1px solid #86898a;
}
.subTab{
	padding:4px 9px 5px 9px;
	background-color:#5999e7;
	border-top:1px solid #406499;
	border-bottom:1px solid #0d2448;
}
.subTab ul{
	display:table; 
	width:100%;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f4f5f6), to(#bdc9d2));
	-webkit-border-radius:6px;
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.5);
}
.subTab ul li{
	display:table-cell;
	width:20%;
	border-top:1px solid #5d6f7d;
	border-bottom:1px solid #5d6f7d;
	text-align:center;
	vertical-align:middle;
}
.subTab ul li:first-of-type{
	border-left:1px solid #5d6f7d;
	-webkit-border-radius:6px 0 0 6px;
	-webkit-box-shadow:none;
}
.subTab ul li:last-of-type{
	border-right:1px solid #5d6f7d;
	-webkit-border-radius:0 6px 6px 0;
}
.subTab ul li a{
	display:block;
	padding:17px 0;
	border-left:1px solid #f6f8f9;
	border-right:1px solid #b4bec8;
	font-size:1.571em;
	color:#39444f;
}
.subTab ul li:first-of-type a{border-left:0;}
.subTab ul li:last-of-type a{border-right:0;}
.subTab ul li.fontSmall a{font-size:1.357em;}
.subTab ul li.on{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fbc276), to(#fb9d23));
	border:1px solid #c65900;
}
.subTab ul li.on a{border:0;}
.subTab ul li.on:first-of-type a{border-right:0;}
.subTab ul li.on:last-of-type a{border-left:0;}
.subTab ul li.disabled{background:#e5e5e5;}
.subTab ul li.disabled a{color:#888;}
.allTab.bgSub, .mobilizeTab.bgSub, .inputTab.bgSub{
	padding-bottom:5px;
	background-position:0 100%;
}
.allTab ul, .mobilizeTab ul, .inputTab ul{
	overflow:hidden;
	width:100%;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f8f9), to(#ced7dd));
}
.allTab ul li, .mobilizeTab ul li, .inputTab ul li{
	float:left;
	width:25%;
	text-align:center;
}
.allTab li a, .inputTab li a, .mobilizeTab li a{
	display:block;
	/*line-height:59px;*/
	height:21px;
	padding:19px 0;
	border-top:1px solid #adb9c2;
	border-bottom:1px solid #adb9c2;
	border-left:1px solid #f8f9fa;
	border-right:1px solid #adb9c2;
	font-size:1.571em;
	color:#333;
}
.allTab li:nth-of-type(5) a, .allTab li:nth-of-type(6) a,
.allTab li:nth-of-type(7) a, .allTab li:nth-of-type(8) a,
.inputTab.person li:nth-of-type(5) a, .inputTab.person li:nth-of-type(6) a,
.inputTab.person li:nth-of-type(7) a{
	border-top:1px solid #f8f9fa;
}
.allTab li:nth-of-type(1) a, .allTab li:nth-of-type(5) a,
.inputTab li:first-of-type a, .inputTab.person li:nth-of-type(5) a,
.mobilizeTab li:nth-of-type(1) a{
	border-left:0;
}
.allTab li:nth-of-type(4) a, .allTab li:nth-of-type(8) a,
.inputTab li:last-of-type a, .inputTab.person li:nth-of-type(4) a,
.mobilizeTab li:nth-of-type(4) a{
	border-right:0;
}
.allTab li.on a, .inputTab ul li.on a, .mobilizeTab li.on a,
.inputTab.person li.on:nth-of-type(5) a, .inputTab.person li.on:nth-of-type(6) a,
.inputTab.person li.on:nth-of-type(7) a,
.allTab li.on:nth-of-type(5) a, .allTab li.on:nth-of-type(6) a,
.allTab li.on:nth-of-type(7) a, .allTab li.on:nth-of-type(8) a{
	/*line-height:61px;*/
	padding:20px 0;
	border-left:0; 
	border-right:0;
	border-top:0; 
	border-bottom:0;	
}
.allTab li.on a, .inputTab li.on a, .mobilizeTab li.on a{
	background:#b0b7bc;
	-webkit-box-shadow:inset 0 2px 5px rgba(0,0,0, .75);
}
.mobilizeTab li a{color:#144182;}
.mobilizeTab li.on a{color:#000;}
.mobilizeTab li.fontSmall a{font-size:1.429em;}
.inputTab ul li{width:20%;}
.inputTab ul li span{
	display:inline-block;
	width:16px; height:17px;
	padding-right:5px;
	background:url('../img/icon_tab.png') no-repeat;
}
.inputTab ul li span.supplement{background-position:0 0;}
.inputTab ul li span.complete{background-position:0 -17px;}
.inputTab ul li span.standBy{background-position:0 -34px;}
.inputTab ul li span.inComplete{background-position:0 -51px;}
.inputTab.person ul li{width:25%;}
.inputTab.person ul li:nth-of-type(5), .inputTab.person ul li:nth-of-type(6), .statsTab ul li{width:33%;}
.inputTab.person ul li:nth-of-type(7), .statsTab ul li:last-of-type{width:34%;}

/* contents */
.textOverFlow{
	display:inline-block;
	overflow:hidden;
	width:95%;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.subContent{color:#666;}
.disableTd{background:#e5e5e5;}
.disableTd, .disableTd a, .disableTd label{color:#888;}
.disableTd a{background:none !important;}
.disableTd.linkTd a{padding-right:10px !important;}
.disableTd .btnBg{
	background:none !important;
	border:1px solid #999;
	color:#888 !important;
	-webkit-box-shadow:none;
}
.textareaTd{width:60px; padding:0; text-align:right;}
.bgSub{background-image:url('../img/bg_sub.png');}
.btnBg{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#aacff0), to(#5991d2));
	border:1px solid #0f447e;
	-webkit-border-radius:8px;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.5), inset 0 1px 1px #d8e8f8;
}
.btnBg.on{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#5991d2), to(#aacff0)) !important;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.5), inset 0 1px 1px #a9cdeb;
}
.moreArea{
	overflow:hidden;
	padding:7px 0;
	text-align:center;
	background:#a5a5a5;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
.btnMore, .btnMore2{
	width:155px; height:62px;
	font-size:1.714em;
	color:#1d3852;
}
.btnMore.btnWide{
	width:auto;
	padding:0 17px;
}
.btnMore:first-of-type{float:left; margin-left:10px;}
.btnMore:last-of-type{float:right; margin-right:10px;}
.btnMore:only-of-type, .btnMore.one{float:none;}

.linkList li .td.radioForm, .linkList li.block .td.radioForm{padding:9px 0 9px 10px;}
.linkList li span:only-of-type label:first-of-type{padding-right:100px;}
.radioForm input[type="checkbox"]{
	position:static;
	margin-top:0;
}
.radioForm label{
	display:inline-block;
	width:100px;
	padding-left:9px;
}
.radioForm.nthRadio2 label{padding-left:2px;}
.radioForm.nthRadio label, .linkList li span:only-of-type label,
.radioForm.nthRadio2 label{width:auto;}

.qrBox{
	height:343px;
	padding-top:23px;
	background:#6b6b6b;
}
.qrImg{
	display:block;
	width:321px; height:300px;
	background:url(../img/qr_bg.png) no-repeat;
	margin:0 auto;
	padding-top:20px;
	text-align:center;
}
.qrImg img{width:280px; height:280px;}
.qrTxt{
	padding:15px 0;
	background:#c4c4c4;
	border-bottom:1px solid #b2b2b2;
	font-size:1.571em;
	text-align:center;
}
.qrTxt span{font-size:18px;}

/* contents list */
.listNum{
	background:#e1e1e0;
	border-right:1px solid #adadad;
	font-size:30px;
	color:#6b8aa8;
}
.listNum.Small{
	background:#e1e1e0;
	border-right:1px solid #adadad;
	font-size:20px;
	color:#6b8aa8;
}
.list li.borderBottom{border-bottom:5px solid #595d60;}
.list li{
	position:relative;
	background:#f4f4f4;
	border-top:1px solid #fff;
	border-bottom:1px solid #adadad;
	line-height:1.1em;
}
.list li a{
	display:block;
	font-size:1.714em;
	line-height:1.1em;
}
.list li a, 
.linkList.allList li .linkTd a, .linkList li .linkTd.onlyTxt a, 
.linkList li .linkTd.addFile a{
	background:url('../img/icon_linkArrow.png') no-repeat 97% 50%;
}
.linkList li .linkTd a, .boardList li a, .smsList li a{background:none;}
.list li a.btnBg{background: -webkit-gradient(linear, 0 0, 0 100%, from(#AACFF0), to(#5991D2));}
.list.popList li a{
	line-height:60px;
	padding-left:27px;
	font-size:22px;
	background:url('../img/icon_poplist.png') no-repeat 10px 50%;
}
.list.checkList li{
	line-height:60px;
	padding-left:10px;
	font-size:1.571em;
}
.list li a .listNum{
	display:inline-block;
	width:66px;
	line-height:68px;
	margin-right:10px;
	text-align:center;
}
.list li.on, .list.linkList li .linkTd.on,
.list.linkList.boardList .th.on, .list.linkList.boardList .linkTd.on{background:#ffdd3c;}
.list li.on a .listNum, table tbody th.listNum.on{
	background:#ffdd3c;
	color:#000;
	text-shadow:-1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.list.oneLine li a{
	padding:18px 13px;
	font-size:22px;
}
.list li .clip, div.clip .clip{
	position:absolute;
	top:15px; right:10px;
	width:30px; height:32px;
	background:url('../img/icon_clip.png') no-repeat;
	text-indent:-999em;
}
div.clip{
	position:relative;
	padding-right:20px;
}
div.clip .clip{top:0; right:5px;}
.linkList li, .linkList li a{
	position:relative;
	display:table; 
	width:100%;
	font-size:22px;
}
.linkList li span:only-of-type{text-align:center;}
.linkList li span.select{
	text-align:left;
	font-size:22px;
}
.linkList li .th, .linkList li .td{
	display:table-cell;
	vertical-align:middle;
}
.linkList li .th{
	width:119px;
	padding:0 10px;
	background:#dadada;
	border-left:1px solid #adadad;
	border-right:1px solid #adadad;
	color:#666;
	text-align:right;
	font-weight:bold;
	letter-spacing:-1px;
}
.linkList li .th:first-of-type{border-left:0;}
.linkList li .th.damageTh, .linkList li .th.inputTh, .linkList li .td.fixTd{width:90px;}
.linkList.qrList li .th{width:190px;}
.linkList li .td.inputTd{width:92px;}
.linkList li .td.ptl10{padding:10px; text-align:left;}
.linkList li .td{height:1.1em; padding:18px 10px;}
.linkList li .linkTd{
	position:relative;
	display:table; 
	width:100%; 
	padding:0;
}
.linkList li .linkTd a{
	display:table-cell;
	vertical-align:middle;
	height:1.1em;
	padding:18px 50px 18px 10px;
}
.linkList li .linkTd.onlyTxt a, .linkList.allList li .linkTd a{
	padding:18px 37px 18px 10px;
}
.guideList li .linkTd.onlyTxt a{padding:24px 37px 24px 10px;}
.linkList li.block{border:0;}
.linkList li.block .td{
	display:table;
	width:100%;	height:1.1em; 
	padding:18px 10px;
}
.linkList li.block .th, .linkList li.block .td, .linkList li.block .linkTd{
	border-top:1px solid #fff;
	border-bottom:1px solid #adadad;
}
.linkList li .linkIcon{
	position:absolute;
	top:50%; right:9px;
	width:32px; height:32px;
	margin-top:-16px;
	background:url('../img/icon_link.png') no-repeat;
}
.linkList li .linkIcon.tel{background-position:0 0;}
.linkList li .linkIcon.fax{background-position:0 -32px;}
.linkList li .linkIcon.address{background-position:0 -64px;}
.linkList li .linkIcon.mobile{background-position:0 -96px;}
.linkList li .linkIcon.email{background-position:0 -128px;}
.linkList .btnSearch{
	position:absolute;
	top:5px; right:9px;
	width:65px; line-height:47px;
	padding:0;
	text-align:center;
	font-weight:bold;
	color:#31438f;
}
.linkList .btnSearch.develop{width:85px;}
.linkList .th.fontSmall{font-size:18px;}
.formBg.sms{height:1em; text-align:left !important;}
.formList .formBg{border:1px solid #747474; font-size:22px;}
.formList .formBg.disable{border:1px solid #999;}
.formList input, .formList textarea{font-size:22px;}
.formList .td.btnOneTd, .formList .td.btnTwoTd, .formList .td.btnFourTd{
	position:relative;
}
.formList .td.btnOneTd .btnInput, .formList .td.btnTwoTd .btnInput, .formList .td.btnFourTd .btnInput{
	padding:0;
	text-align:center;
}
.formList .td.btnOneTd, .linkList li.block .td.btnOneTd{padding:7px 83px 7px 10px;}
.formList .td.btnTwoTd, .linkList li.block .td.btnTwoTd{padding:7px 104px 7px 10px;}
.formList .td.btnFourTd, .linkList li.block .td.btnFourTd{padding:7px 156px 7px 10px;}
.formList .td.btnOneTd .btnInput, .searchForm .btnSearch.btnOne{width:61px;}
.formList .td.btnTwoTd .btnInput{width:82px;}
.formList .td.btnFourTd .btnInput{width:134px;}
.formList .td.txtBtnTd{height:59px;}
.formList .td.formTd, .linkList li.block .td.formTd{padding:7px 10px;}
.formList .td.formTd .formWrap{float:left; width:48.5%;}
.formList .td.formTd .formWrap:last-of-type{margin-left:10px;}
.formList .td.formTd .formWrap:only-of-type{width:50%; margin-left:0;}
.formList .td.formTd .formWrap.iptNum{width:30%;}
.formList .td.formTd .formText{float:left; line-height:59px; padding-left:10px;}
.formList .td.formTd.mistakeTd .formWrap:first-of-type{width:40%;}
.formList .td.formTd.mistakeTd .formWrap:last-of-type{width:57%;}
.formList .td.formTd.dateTd .formWrap:last-of-type{float:right; width:38.5%; margin-left:0;}
.formList .td.formTd.dateTd .formText{padding:0 10px;}
.formList .btnInput{
	position:absolute;
	top:6px; right:10px;
	display:inline-block;
	width:auto;	line-height:58px;
	padding:0 15px;
	font-size:26px;
	color:#032f61;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
}
.boardList li a{font-size:22px;}
.boardList li a .listNum{float:left; width:58px; line-height:92px;}
.boardList li a .board{padding:17px 48px 17px 58px;}
.boardList li a .dividend{padding:18px 10px 18px 58px;}
.boardList li a .board p{padding-bottom:11px;}
.boardList li a .dividend p{padding-bottom:10px;}

/* contents table */
.title{
	line-height:1.15em;
	padding:10px 0;
	background:#b3b3b3;
	border-top:1px solid #dadada;
	border-bottom:1px solid #7c7c7c;
	font-size:1.571em;
	text-align:center;
}
.nonePadding{padding-left:0 !important; padding-right:0 !important;}
table td.money, .list .td.money,
table.detailInfo_1 th, table.detailInfo_3 th,
table.detailInfo_1 td.money, table.detailInfo_3 td.money{
	padding-left:10px !important;
	padding-right:10px !important;
	text-align:right;
}
table tbody td.substance{
	padding-left:10px !important;
	padding-right:10px !important;
	text-align:left;
}
table.insideTable tbody td.substance{
	padding-left:5px !important;
	padding-right:5px !important;
	text-align:left;
}
table{
	border-collapse:separate;
	text-align:center;
	font-size:22px;
	line-height:1em;
}
table thead th{padding:11px 0;}
table tbody td, table.insideTable table td{padding:11px 5px; line-height:1.1em;}
table.insideTable td, table.oneLine.insideTable td{padding:0;}
table.oneLine td, table.oneLine.insideTable table td{padding:17px 5px;}
table thead.oneLine th{height:44px; padding:0;}
table thead.oneLine th .fontSmall{font-size:18px;}
table.threeLine thead th{padding:6px 0;}
table.threeLine.insideTable table td{padding:6px 5px;}
table.detailInfo_1 th, table.detailInfo_3 th{letter-spacing:-1px;}
table.detailInfo_1 td, table.detailInfo_3 td{
	height:1.1em;
	padding:17px 13px;
	text-align:left;
}
table.detailInfo_2 th, table.detailInfo_2 td{
	height:44px;
	padding:0;
	border-right:1px solid #adadad;
}
table.detailInfo_2 th:last-of-type, table.detailInfo_2 td:last-of-type,
table.detailInfo_3 td.insideTable th:last-of-type, table.detailInfo_3 td.insideTable td:last-of-type{
	border-right:0;
}
table.detailInfo_3{border-top:4px solid #595d60;}
table.detailInfo_3 th{background:#c4c4c4; color:#444;}
table.detailInfo_3 td.insideTable{padding:0; border-top:0; border-bottom:0;}
table.detailInfo_3 td.insideTable th, table.detailInfo_3 td.insideTable td{
	height:30px;
	padding:0;
	text-align:center;
	border-right:1px solid #adadad;
	border-bottom:1px solid #adadad;
}
table.detailInfo_3 td.insideTable th{
	height:29px;
	background:#dadada; 
	color:#666;
}
table.detailInfo_3 td.insideTable td{border-top:0;}
table th.a{display:table; width:100%;}
table th.a span, table th.a em{display:table-cell; letter-spacing:-1px;}
table thead{
	background:#d2e6f7;
	color:#394757;
}
table thead th{
	border-top:1px solid #e8f5ff;	
	border-bottom:1px solid #94b8cf;
	border-right:1px solid #94b8cf;
}
table thead tr th:last-of-type{border-right:0;}
table thead tr:first-of-type th:first-of-type, table thead tr:last-of-type th{
	border-bottom:1px solid #8a929a;
}
table.notLine td{border-right:0; border-bottom:0;}
table.carName thead tr:first-of-type th:first-of-type{
	border-bottom:1px solid #94b8cf;
}
table tbody{background:#f4f4f4;}
table tbody th{
	line-height:1.1em;
	background:#dadada; 
	color:#666;
	border-right:1px solid #adadad;
}
table tbody td{
	border-right:1px solid #adadad;
	border-bottom:1px solid #adadad;
}
table tbody td:last-of-type{border-right:0;}
table tbody tr.borderRight td:last-of-type, .borderRight{border-right: 1px solid #ADADAD;}
table.insideTable table td{border-right:0; border-bottom:0;}
table tbody tr.border>th, table tbody tr.border>td, 
table.detailInfo_1 tr th, table.detailInfo_1 tr td,
table.detailInfo_2 tr th, table.detailInfo_2 tr td,
table.detailInfo_3 tr th, table.detailInfo_3 tr td{
	border-top:1px solid #fff;
	border-bottom:1px solid #adadad;
}
table.insideTable td.on tbody{background:#ffdd3c;}
table tbody th.listNum a{
	display:block;
	color:#6B8AA8;
}
table tbody th.listNum a span{display:table-cell;}
table tbody th.listNum.on a{color:#000;}
table .table_cell_1, table .table_cell_2, 
table .table_cell_3, table .table_cell_4,
table .table_cell_5, table .table_cell_dsp{
	display:table; width:100%;
}
table .table_cell_1 span{display:table-cell; width:25%;}
table .table_cell_1 span:last-of-type{width:50%;}
table .table_cell_2 span{
	display:table-cell;
	vertical-align:middle; 
	width:25%;
}
table .table_cell_2 span:first-of-type{width:50%;}
table .table_cell_3 span{
	display:table-cell; 
	vertical-align:middle;
	width:33%;
}
table .table_cell_3 span:last-of-type{width:34%;}
table .table_cell_4 span{
	display:table-cell;
	vertical-align:middle;
	width:35%;	
}
table .table_cell_4 span:nth-of-type(2), table .table_cell_4 span:nth-of-type(3){width:15%;}
table .table_cell_5 span{display:table-cell; width:20%;}
table .table_cell_5 span:first-of-type{width:35%;}
table .table_cell_5 span:last-of-type{width:25%;}
table .table_cell_dsp span{display:table-cell; width:40%;}
table .table_cell_dsp span:nth-of-type(2){width:20%;}
table.statsTable {font-size:20px;}
table.statsTable thead th{line-height:1.1em;}
table.statsTable thead th{line-height:1.1em;}
table.statsTable .fontSmall{font-size:18px;}
table tr.borderB td{border-bottom:2px solid black;}
#lastInfo{	
	background:#b4b4b4;
	border-top:1px solid #464646;
	font-size:1.571em;
}
#lastInfo a{
	display:table; 
	width:100%;
	line-height:40px;
	border-top:1px solid #ddd;
}
#lastInfo a span{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
#lastInfo a span.th{
	width:65px;
	background:#464646;
	color:#fff;
}
#lastInfo a span.td{width:117px;}
#lastInfo a span:last-of-type{border-left:1px solid #858585;}

/********************************************************************************************
Login & Pin & Main Style
********************************************************************************************/
/* Login */
#loginBg{
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url('../img/bg_login.png') no-repeat center top;
	-webkit-background-size:100% 100%;
}
#loginLogo{
	width:298px; 
	height:190px;
	position:absolute;
	top:25%;
	left:50%;
	margin-left:-149px;
	background:url('../img/logo_login.png') no-repeat; 
	text-indent:-999em;
}
#loginArea{position:relative;}
#loginArea .textArea{
	position:absolute;
	top:3px;
	left:3px;
	right:3px;
	padding:16px 13px 16px 61px;  
	background:url('../img/bg_textbox.png') no-repeat;
	-webkit-background-size:100% 100%;
}
#loginArea .textArea li{
	display:table-cell;
	vertical-align:middle;
}
#loginArea .textArea li:first-of-type{padding-right:11px;}
#loginArea .textArea .inputArea{
	display:block;
	padding:12px 16px 11px 16px;
	background:#779fc7;
	border:1px solid #4e669c;
	-webkit-border-radius:8px;
	-webkit-box-shadow:inset 0 1px 5px #5a7896, 0 1px 1px #bdd6ef;
}
#loginArea .textArea .inputArea input{
	width:100%;
	background-color:#779fc7;
	border:0;
	-webkit-border-radius:8px;
	color:#fff;
	font-size:1.714em;
}
#loginArea .textArea .inputArea input.id{background:#779fc7 url('../img/txt_id.png') no-repeat 0 50%;}
#loginArea .textArea .inputArea input.pin{background:#779fc7 url('../img/txt_pin.png') no-repeat 0 50%;}
#loginArea button.btnLogin{
	width:31px;
	height:35px;
	background:url('../img/btn_login.png') no-repeat;
	border:0;
	text-indent:-999em;
	position:absolute;
	top:26px;
	left:19px;
}
#loginArea button.btnLogin.on{background-position:-31px 0;}
#loginArea a.btnPin{
	display:block;
	width:129px;
	line-height:62px;
	background:url('../img/btn_pin.png') no-repeat;
	position:absolute;
	top:93px;
	right:0;
	font-size:1.357em;	
	color:#5287a5;
	text-align:center;
	letter-spacing:-2px;
}
#loginArea a.btnPin.aec{
	right:127px;
}
#loginArea a.btnPin span{
	font-weight:bold; 
	color:#5f81d6; 
	letter-spacing:normal;
}

/* Pin */
h1.hicar{
	position:absolute;
	top:14px; left:10%;
	text-indent:-999em;
}
h2.hims{
	position:absolute;
	top:22px; right:10%;
}
.pinBox{
	width:462px; height:283px;
	margin:55px auto 0 auto;
	background:url('../img/bg_pinbox.png') no-repeat;
}
.pinBox.re{
	width:462px; height:314px;
	background:url('../img/bg_pinbox_re.png') no-repeat;
}
.pinBox.re .pinTitle{padding:15px 0 24px 0;}
.pinBox.re .pinContent li{padding-bottom:10px;}
.pinTitle{
	padding:19px 0 36px 0;
	text-align:center;
	font-size:1.714em;
	color:#003e7e;	
}
.pinContent{padding:0 25px;}
.pinContent li{
	display:table; 
	width:100%;
	padding-bottom:15px;
}
.pinContent li label, .pinContent li .inputWrap{
	display:table-cell;
	vertical-align:middle;
}
.pinContent li label{
	width:124px;
	line-height:1em;
	font-size:1.571em;
	color:#fff;
	letter-spacing:-1px;
}
.pinContent.reissue li label{
	width:182px;
}
.pinForm .inputWrap{
	padding:12px;
	border: 1px solid #4e669c;
	-webkit-box-shadow:inset 0 2px 5px #c0c0c0, 0 1px 1px #c5def4;
}
.pinForm .inputWrap input{font-size:22px;}
.btnPinNum{
	float:right;
	margin:15px 10% 0 0;
	width:230px; line-height:54px;
	text-align:center;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#73b3f6), to(#4e8ae5));
	border:1px solid #4368ac;
	-webkit-border-radius:8px;
	-webkit-box-shadow:inset 0 1px 1px #c6dffb;
	font-size:1.429em;
	color:#002c59;
}
.btnPinNum.re{margin:1px 10% 0 0;}
.btnPinNum span{color:#ffe08e;}
.pinTextBox{
	width:441px; height:199px;
	margin:90px auto 0 auto;
	background:rgba(51,51,51,0.8);
	border:1px solid #393939;
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.23), inset 0 1px 1px rgba(255,255,255,0.5);
	-webkit-border-radius:8px;
	color:#fff;
	font-size:1.143em;
	line-height:1.15em;
}
.pinTextBox ul{padding:25px 23px 0 23px;}
.pinTextBox ul li{	
	padding:0 0 14px 12px;
	background:url('../img/icon_pinlist.png') no-repeat 0 6px;
}

/* Main */
.mainTab{
	overflow:hidden;
	width:100%;	
	background:url('../img/bg_maintab.png');
}
.mainTab li:first-of-type{background:none;}
.mainTab li{
	float:left;
	width:25%;
	height:94px;
	background:url('../img/bg_maintab_line.png') no-repeat 0 50%;
}
.mainTab li a{
	position:relative;
	display:block;
	height:89px;
	text-align:center;
	font-size:1.143em;
	color:#ffffff;
	text-shadow:1px 1px gray;
}
.mainTab li.on a{
	color:#333333;
	text-shadow:1px 1px #e3eef7;
	padding-bottom:5px;
	background:url('../img/bg_maintab_onRight.png') no-repeat top right;
}
.mainTab li.on a span.on{
	position:absolute;
	top:0;
	left:0;
	width:9px;
	height:94px;
	background:url('../img/bg_maintab_onLeft.png') no-repeat top left;
}
.mainTab li span.icon{
	display:block;	
	width:120px;
	height:68px;
	margin:0 auto;
	background:url('../img/icon_maintab.png') no-repeat;
}
.mainTab li.on span.icon{margin:0 auto 3px auto;}

.mainTab li span.icon.basic{background-position:0 0;}
.mainTab li span.icon.my{background-position:-120px 0;}
.mainTab li span.icon.plan{background-position:-240px 0;}
.mainTab li span.icon.setting{background-position:-360px 0;}
.mainTab li.on span.icon.basic{background-position:0 3px;}
.mainTab li.on span.icon.my{background-position:-120px 3px;}
.mainTab li.on span.icon.plan{background-position:-240px 3px;}
.mainTab li.on span.icon.setting{background-position:-360px 3px;}

.mainMenu{
	overflow:hidden;
	padding-top:1px;
}
.mainMenu li{
	float:left;
	width:25%; height:157px;
	background:url('../img/bg_mainmenu.png');
	text-align:center;
}
.mainMenu a{
	display:block;
	font-size:1.571em;
	line-height:1.045em;
	color:#37404b;
}
.mainMenu span.mm_icon{
	display:block;
	width:114px;
	height:98px;
	margin:6px auto;
	background:url('../img/icon_mainmenu.png');
} 
.mainMenu span.mm_icon.board{background-position:0 0;}
.mainMenu span.mm_icon.dividend{background-position:-114px 0;}
.mainMenu span.mm_icon.input{background-position:-228px 0;}
.mainMenu span.mm_icon.change{background-position:-342px 0;}
.mainMenu span.mm_icon.reward{background-position:0 -98px;}
.mainMenu span.mm_icon.sign{background-position:-114px -98px;}
.mainMenu span.mm_icon.survey{background-position:-228px -98px;}
.mainMenu span.mm_icon.work{background-position:-342px -98px;}
.mainMenu span.mm_icon.output{background-position:0 -196px;}
.mainMenu span.mm_icon.staff{background-position:-114px -196px;}
.mainMenu span.mm_icon.doc{background-position:-228px -196px;}
.mainMenu span.mm_icon.send{background-position:-342px -196px;}
.mainMenu span.mm_icon.stats{background-position:0 -294px;}
.mainMenu span.mm_icon.media{background-position:-114px -294px;}
.mainMenu span.mm_icon.qr{background-position:-228px -294px;}
.mainMenu span.mm_icon.fault{background-position:-342px -294px;}

/* schedule */
.setHeader.schedule{
	overflow:hidden;
	height:63px;
	position:static;
	background:none;
	border-top:0;
	border-bottom:0;
}
.setHeader.schedule .subTab{
	float:left;
	width:73%;
	background:none;
	border-top:0;
	border-bottom:0;
	margin-left:10px;
	padding:0;
}
.setHeader.schedule .btn{
	float:right;
	width:25%;
	position:static;
	top:0;
}
table.schedule thead{
	background:#9bbbdf;
	color:#1d3852;
}
table.schedule thead th{
	border-top:1px solid #ddedfb;
	border-bottom:1px solid #818b94;
	border-right:1px solid #7ca4cb;
}
.sList li{
	border-top:1px solid #ddedfb;
	border-bottom:1px solid #818b94;
}
.sList li:first-of-type{background:#9bbbdf; color:#1d3852;}
.sList li .td{
	padding:0;
	text-align:right;
}
.ssList li a .listNum{
	width:89px;
	line-height:60px;
	background:#e6e6e5;
	color:#666;
	font-size:22px;
}
.ssList li a .board{padding:18px 0 18px 89px;}
.ssList li a .board p{padding-bottom:0;}

/* etc */
.btnDel{position:relative;}
.btnDel .title{
	padding:15px 10px;
}
.btnDel .btnBg.red{
	position:absolute;
	top:50%; right:10px;
	margin-top:-23px;
	padding:10px; 
	font-size:22px; 
	font-weight:bold;
	line-height:1.1em;
}

.faxTd{
	color:#000000;
	font-weight: bold;	
}
.qrBtn .btnMore2{width:30%;}
.qrBtn .btnMore2:nth-of-type(2){width:34%;}
.qrBtn .btnMore2:nth-of-type(1), .qrBtn .btnMore2:nth-of-type(4){float:left; margin-left:7px;}
.qrBtn .btnMore2:nth-of-type(3), .qrBtn .btnMore2:nth-of-type(5){float:right; margin-right:7px;}
.qrBtn .btnMore2:nth-of-type(4), .qrBtn .btnMore2:nth-of-type(5){width:48%; margin-top:7px;}

.valigntop {vertical-align:top;}
.formText123{
	font-size: 26px;
	line-height: 1.2em;
}
	
	
